@font-face {
    font-family: 'Lexend';
    src: url('./assets/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
}

:root{
  --accent: #6B73DF;
  --muted: #6f6f9a;
  --bg: #6B73DF;
}
*{box-sizing:border-box}
body,html,#root{height:100%;margin:0}
.app{
    font-family: 'Lexend', sans-serif;
    display:flex;
    min-height:100vh;
    align-items:stretch; /* ensure children stretch vertically */
    background: var(--bg);
}
.sidebar{
    /* width:260px; */
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    background:#f9f9f9;
    padding:28px 20px;
    padding-right: 40px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08), 8px 0 24px rgba(0,0,0,0.04) inset;
    display:flex;
    flex-direction:column;
    gap:20px;
    border-radius: 0px 30px 30px 0px;
    overflow:auto;
    border: 1px solid rgba(0,0,0,0.04);
    align-self:stretch;
}
.brand{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    display:flex;
    align-items:center;
    gap:10px;
    padding-left: 0px;
}
.brand .logo{
    width:60px;
    height:35px;
    border-radius:8px;
    background:var(--accent);
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-weight:700
}

.appname{
    color: var(--accent);
    line-height: 1.3;
    font-size:30px;
    font-weight:800;
}
.appnamesub{
    color: var(--muted);
    font-size: 10px;
}

.nav{
    font-size: 1rem;
    margin: 20 0 80;
}
.nav a{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px 8px;
    color:var(--accent);
    text-decoration:none;
    font-weight:600;
    padding-left: 20px;
}
.nav a:hover {
  background: #f0f0f5;
  border-radius: 12px;
}

.nav a + a{
    padding-top:16px;
    margin-top:1.2px;
    cursor: pointer;
}


.spacer{flex:1}

.spacer1{height:20px}
.settings{color:var(--accent);font-weight:600}
.icon{width:20px;height:20px;display:inline-block;color:var(--accent);vertical-align:middle}
.content-wrap{
    flex:1; /* take remaining horizontal space */
    display:flex;
    flex-direction:column;
    padding:28px;
    background:var(--bg);
    gap:24px;
}
.card{
  background:#f9f9f9;
  border-radius:18px;
  padding:24px;
  /* make the card expand to fill available vertical space */
  flex:1;
  min-height:0; /* important to allow flex children to shrink correctly */
  box-shadow:0 10px 18px rgba(0,0,0,0.12);
}

.cardcontent{
  padding-left: 10px;
}
